html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 970px;
  height: 250px;
  cursor: pointer;
  border: 1px solid black;
  background: #FFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #mainContent div,
  #mainContent img,
  #mainContent a,
  #mainContent video {
    position: absolute; }

#playPause {
  left: 50%; }

#playPause.play {
  bottom: 2px;
  left: 80px;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  background: url(../img/play.png);
  background-size: 100%; }

#playPause.pause {
  bottom: 2px;
  left: 80px;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  background: url(../img/pause.png);
  background-size: 100%; }

#muteUnmute.mute {
  bottom: 2px;
  left: 30px;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  background: url(../img/mute.png);
  background-size: 100%; }

#muteUnmute.unmute {
  bottom: 2px;
  left: 30px;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  background: url(../img/unmute.png);
  background-size: 100%; }

#replay {
  bottom: 2px;
  left: 130px;
  width: 40px;
  height: 40px;
  opacity: 0.5; }

#defaultBar {
  bottom: 16px;
  left: 180px;
  width: 600px;
  height: 10px;
  background: white;
  opacity: 0.5; }

#progressBar {
  top: 2px;
  width: 0px;
  height: 6px;
  background: red; }
