@import '_settings';
@import '_config';
@import '_mixins';

body {
    margin: 0;
    padding: 0;
}
#mainContent {
    position: relative;
    overflow: hidden;
    width: $width;
    height: $height;
    cursor: pointer;
    border: 1px solid black;
    background: $backgroundColor;
    box-sizing: border-box;
    div,
    img,
    a,
    video {
        position: absolute;
    }


}
#playPause{
    left:50%;    
}
#playPause.play{
    bottom: 2px;
    left: 80px;
    width: 40px;
    height: 40px;
    opacity:0.5;
    background:url(../img/play.png);
    background-size: 100%;
}
#playPause.pause{
    bottom: 2px;
    left: 80px;
    width: 40px;
    height: 40px;
    opacity:0.5;
    background:url(../img/pause.png);
    background-size: 100%;
}

#muteUnmute.mute{
    bottom: 2px;
    left: 30px;
    width: 40px;
    height: 40px;
    opacity:0.5;
    background:url(../img/mute.png);
    background-size: 100%;
}
#muteUnmute.unmute{
    bottom: 2px;
    left: 30px;
    width: 40px;
    height: 40px;
    opacity:0.5;
    background:url(../img/unmute.png);
    background-size: 100%;
}
#replay{
    
    bottom: 2px;
    left: 130px;
    width: 40px;
    height: 40px;
    opacity:0.5;
}

#defaultBar {
    bottom: 16px;
    left: 180px;
    width: 600px;
    height: 10px;
    background:white;
    opacity:0.5;
}
#progressBar {
	top:2px;
	width:0px;
	height:6px;
	background:red;
}

